{
    "singleQuote": false,
    "useTabs": false,
    "tabWidth": 4,
    "semi": true,
    "printWidth": 175,
    "trailingComma": "none",
    "bracketSpacing": false,
    "jsxBracketSameLine": false,
    "arrowParens": "always",
    "endOfLine": "lf",
    "proseWrap": "preserve",
    "parser": "typescript"
}