* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-tap-highlight-color: #000000;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-text-size-adjust: 100%;
    font-family: sans-serif;
    font-size: 10px;
}

body {
    background-color: #fff;
    color: #333;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857;
    margin: 0;
}

html,
body {
    color: #323232;
    font-family: "Roboto", Sans-Serif;
    font-size: 16px;
    height: 100%;
    min-height: 640px;
    min-width: 1024px;
}

body { background: #f5f5f5 }


body.dark-mode .dc-chart.coordinate-chart .node text,
body.dark-mode .chart-type-row svg .row text {
    fill: #eee !important;
    paint-order: stroke;
    stroke: black;
    stroke-opacity: 0.3;
    stroke-width: 2px;
}

body.dark-mode #license-info-modal .key-input .key-input-apply:disabled,
body.dark-mode .dashboard-top-panel .mdc-button--outlined:disabled {
    background-color: #313131;
    border: 1px solid #444 !important;
    color: #555 !important;
    cursor: not-allowed;
    opacity: 1;
}

body.dark-mode .dashboard-top-panel .mdc-button--outlined,
body.dark-mode button.button.secondary {
    background-color: #2d2d2d !important;
    border: 1px solid #555 !important;
    color: #eee !important;
}

body.dark-mode .dashboard-top-panel .mdc-button--outlined:hover,
body.dark-mode button.button.secondary:hover { background-color: #444 !important }

body.dark-mode {
    background-color: #1e1e1e !important;
    color: #eee;
}

body.dark-mode #root { background-color: #1e1e1e }

body.dark-mode div::-webkit-scrollbar,
body.dark-mode ul::-webkit-scrollbar {
    background-color: #1e1e1e !important;
    height: 8px;
    width: 8px;
}

body.dark-mode div::-webkit-scrollbar-track,
body.dark-mode ul::-webkit-scrollbar-track { background-color: #1e1e1e !important }

body.dark-mode div::-webkit-scrollbar-thumb,
body.dark-mode ul::-webkit-scrollbar-thumb {
    background-color: #383838 !important;
    border-radius: 8px
}

body.dark-mode div::-webkit-scrollbar-corner,
body.dark-mode ul::-webkit-scrollbar-corner { background-color: #2e2e2e !important }

body.dark-mode .react-grid-layout { background-color: #1e1e1e }

body.dark-mode .domain-input,
body.dark-mode .axis-input input {
    background-color: #383838 !important;
    border: 1px solid #555
}

body.dark-mode .sql-filters-container {
    background-color: #252525 !important;
    border-bottom: 1px solid #121212
}

body.dark-mode .main-nav {
    background-color: #252525 !important;
    box-shadow: 0 0 0 1px #444, 0 0 0 2px #121212
}

body.dark-mode .main-nav-logo svg { fill: white !important }

body.dark-mode .table-header-row {
    background-color: #272727;
    box-shadow: 0 2px 5px #000000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5)
}

body.dark-mode .dashboard-grid-container { background-color: #1e1e1e }

body.dark-mode .dashboards-page .table-header-border { border: none }

body.dark-mode .dashboards-page .row-item:after { content: none }

body.dark-mode .dashboards-page .cell { color: #aaa }

body.dark-mode .dashboards-page .dashboard-menu-container .dashboard-action-button {
    background-color: #444;
    color: #aaa;
    fill: #aaa
}

body.dark-mode .dashboards-page .dashboard-menu-container .dashboard-action-button:hover {
    background-color: #2e2e2e;
    color: #eee;
    fill: #eee
}

body.dark-mode .dashboards-page .dashboard-menu-container .dashboard-action-menu-button { border: 1px solid #aaa }

body.dark-mode .dashboards-page .dashboard-menu-container .dashboard-actions-menu {
    background-color: #2e2e2e;
    border: 1px solid #aaa;
    color: #aaa;
}

body.dark-mode .dashboards-page .dashboard-menu-container .dashboard-actions-menu .dashboard-action-button { background-color: #2e2e2e }

body.dark-mode .dashboards-page .top-panel .right-wrapper .import-dashboard-button { color: #aaa }

body.dark-mode .dashboards-page .top-panel .right-wrapper .import-dashboard-button:hover { color: #eee }

body.dark-mode .dashboards-page .deleteAnimation { animation: deleteAnimationDark 0.5s forwards }

@keyframes deleteAnimationDark {
    0% { height: 48px }

    100% { height: 0 }
}

body.dark-mode .import-dialog .import-dialog-title,
body.dark-mode .import-dialog .import-dialog-content,
body.dark-mode .import-dialog .mdc-dialog__actions {
    background-color: #252525 !important;
    color: #eee !important;
}

body.dark-mode .import-dialog .import-dialog-title { border-bottom: 1px solid #444 }

body.dark-mode .import-dialog .mdc-dialog__actions {
    border: none;
    border-top: 1px solid #444
}

body.dark-mode .import-dialog .import-dropzone {
    background: #2e2e2e;
    border: 2px dashed #aaa
}

body.dark-mode .import-dialog .import-dialog-action-button.mdc-button--outlined {
    border: none;
    color: #aaa
}

body.dark-mode .import-dialog .import-dialog-action-button.mdc-button--outlined:hover {
    background: initial;
    color: #eee
}

body.dark-mode .custom-modal .button.secondary {
    border: none;
    color: #aaa
}

body.dark-mode .custom-modal .button.secondary:hover {
    background: initial;
    color: #eee
}

body.dark-mode .mapd-chart-wrapper,
body.dark-mode .dashboards-page .dashboards-table-wrapper {
    box-shadow: 0 1px 4px #000000;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.8)
}

body.dark-mode .geocoder-input,
body.dark-mode .legend-group,
body.dark-mode .tooltip-group,
body.dark-mode .dc-legend,
body.dark-mode .domain-input,
body.dark-mode .axis-input input {
    border-color: #555 !important;
    color: #eee !important
}

body.dark-mode .center-wrapper,
body.dark-mode .chart-title,
body.dark-mode .nav-buttons .nav-group .button,
body.dark-mode .nav-buttons svg.icon,
body.dark-mode .legend-group,
body.dark-mode .tooltip-group,
body.dark-mode .dc-legend,
body.dark-mode .domain-input,
body.dark-mode .axis-input input {
    color: #eee !important;
    fill: #eee !important
}

body.dark-mode .chart-right-shadow,
body.dark-mode .chart-left-shadow { display: none }

body.dark-mode .dashboards-page .dashboards-table-wrapper { background: #252525 }

body.dark-mode .dashboards-page .cell.dashboard-name { color: #eee }

body.dark-mode .dashboards-page .row-item:hover { background: #444 }

body.dark-mode .search-input-comp input {
    background: #383838;
    border: 1px solid #383838;
    border-radius: 2px
}

body.dark-mode .main-nav .help-popover,
body.dark-mode .main-nav .button:hover > .help-popover,
body.dark-mode .main-nav .user-popover,
body.dark-mode .custom-selector .custom-selector-popup {
    background: #2c2c2c;
    border: 1px solid #555;
    box-shadow: 0 2px 5px 2px #000000;
    box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.5);
    color: #eee;
    padding: 0;
}

body.dark-mode .main-nav .help-popover .highlight,
body.dark-mode .main-nav .button:hover > .help-popover .highlight,
body.dark-mode .main-nav .user-popover .highlight,
body.dark-mode .custom-selector .custom-selector-popup .highlight { padding: 0 16px }

body.dark-mode .main-nav .help-popover .highlight:hover,
body.dark-mode .main-nav .button:hover > .help-popover .highlight:hover,
body.dark-mode .main-nav .user-popover .highlight:hover,
body.dark-mode .custom-selector .custom-selector-popup .highlight:hover {
    background-color: #444;
    color: #eee
}

body.dark-mode .custom-selector .custom-selector-item { color: #eee }

body.dark-mode .custom-selector .custom-selector-item.on {
    background-color: #444;
    color: #eee
}

body.dark-mode .count-list-container,
body.dark-mode .login .login-container {
    background: #252525;
    border: none;
    box-shadow: 0 2px 5px 2px #000000;
    box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.5);
}

body.dark-mode .dashboard-top-panel {
    background-color: #252525 !important;
    border-bottom: 1px solid #121212
}

body.dark-mode .dashboard-top-panel .dashboard-name input:focus {
    background: #383838;
    border: none;
    border-radius: 2px;
}

body.dark-mode .dashboard-top-panel .dashboard-name .title-error {
    background: #383838;
    border-radius: 2px;
}

body.dark-mode .dashboard-top-panel .streaming-dropdown {
    background: #2c2c2c;
    border: none;
    box-shadow: 0 2px 5px 2px #000000;
    box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.5);
}

body.dark-mode .dashboard-top-panel .streaming-dropdown hr { display: none }

body.dark-mode .dashboard-top-panel .streaming-dropdown .custom-selector-label { color: #eee }

body.dark-mode .dashboard-top-panel .streaming-dropdown .refresh-now-btn {
    background: #0089D1;
    border-radius: 4px;
    color: white;
    height: 32px;
    margin-bottom: 16px;
    padding-top: 0
}

body.dark-mode .dashboard-top-panel .streaming-dropdown:before,
body.dark-mode .dashboard-top-panel .streaming-dropdown:after { border-bottom-color: #2c2c2c }

body.dark-mode .dashboard-top-panel .streaming-dropdown .custom-selector { background: #333 }

body.dark-mode .dashboard-top-panel .button:not(:hover) { color: #eee }

body.dark-mode .dashboard-top-panel .button:not(:hover) .glyphicon:not(:hover) { color: #eee }

body.dark-mode .dashboard-top-panel .button:not(:hover) svg.icon:not(:hover) { fill: #eee }

body.dark-mode .dashboard-top-panel .button:not(:hover) .chart-type-label:not(:hover) { color: #eee }

body.dark-mode .count-widget-container .data-source-name { color: #eee }

body.dark-mode #license-info-modal .license-info-section,
body.dark-mode #license-info-modal .license-input-section { background: #252525 }

body.dark-mode #license-info-modal .key-input textarea {
    background: #121212;
    border: none;
    color: #eee;
}

body.dark-mode #license-info-modal .license-info-section .license-item .license-label { color: #aaa }

body.dark-mode #license-info-modal .license-info-section .license-item .license-value { color: #eee }

body.dark-mode #license-info-modal .contact-us-button { background: #383838 }

body.dark-mode #license-info-modal .key-input .key-input-apply { background: #383838 }

body.dark-mode .custom-modal {
    background: #252525;
    border: 1px solid #444;
    box-shadow: 0 2px 5px 2px #000000;
    box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.5);
}

body.dark-mode .custom-modal .modal-header,
body.dark-mode .custom-modal .modal-footer,
body.dark-mode .custom-modal .custom-modal-header,
body.dark-mode .custom-modal .custom-modal-footer {
    border-color: #444;
    color: #eee;
    margin: 0
}

body.dark-mode .custom-modal .button.close {
    color: #aaa;
    opacity: 1;
    text-shadow: none
}

body.dark-mode .custom-modal .app-info-logo .omnisci-logo { fill: white !important }

body.dark-mode .app-overlay {
    background: #000000;
    background: rgba(0, 0, 0, 0.5)
}

body.dark-mode .app-overlay #dashboard-share-close-button { margin-right: 8px }

body.dark-mode .custom-modal-body.custom-modal-dashboard-sharing-body .dashboard-share-modal--add-users-or-roles-form { background: #252525 }

body.dark-mode .custom-modal-body.custom-modal-dashboard-sharing-body .dashboard-share-modal--users-roles-list,
body.dark-mode .custom-modal-body.custom-modal-dashboard-sharing-body .dashboard-share-modal--users-roles-label { border: none }

body.dark-mode .custom-modal-body.custom-modal-dashboard-sharing-body .dashboard-share-modal--users-roles-label,
body.dark-mode .custom-modal-body.custom-modal-dashboard-sharing-body .dashboard-share-modal--share-link-form label { color: #aaa }

body.dark-mode .custom-modal-body.custom-modal-dashboard-sharing-body .dashboard-share-modal--bottom { border-top: 1px solid #444 }

body.dark-mode .custom-modal-body.custom-modal-dashboard-sharing-body .dashboard-share-modal--user-role-list-item {
    border: none;
    color: #eee;
}

body.dark-mode .react-autosuggest__suggestions-list,
body.dark-mode .react-autosuggest__suggestions-container,
body.dark-mode .sql-filters-panel .filter-pill,
body.dark-mode .date-filter-input .simple-list,
body.dark-mode .CalendarMonthGrid.CalendarMonthGrid--horizontal,
body.dark-mode .react-selectize.dropdown-menu.default,
body.dark-mode .filter-value-dropdown,
body.dark-mode .filter-value-dropdown .custom-selector,
body.dark-mode .dashboard-top-panel .clear-filter-dropdown {
    background: #333;
    border: none;
    color: #eee;
}

body.dark-mode .simple-select.react-selectize .react-selectize-control {
    background: #333 !important;
    border: none;
    color: #eee;
}

body.dark-mode .react-autosuggest__suggestion,
body.dark-mode .react-autosuggest__suggestion--first {
    background: #333;
    border: none;
    color: #eee;
}

body.dark-mode .react-autosuggest__suggestion--highlighted {
    background: #444;
    color: #eee
}

body.dark-mode .react-autosuggest__section-title { border: none }

body.dark-mode .react-autosuggest__suggestions-container--open {
    box-shadow: 0 2px 5px 2px #000000;
    box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.5)
}

body.dark-mode #dashboard-share-modal-copy-link-input,
body.dark-mode .react-autosuggest__input {
    background: #383838;
    border: none;
    color: #eee;
}

body.dark-mode .login .login-container .login-form .login-form-toggle h2 { color: #eee }

body.dark-mode .date-filter-input .main-input .react-selectize-control,
body.dark-mode .date-filter-input .regular-filter-input .react-selectize.default.root-node.simple-select .react-selectize-control {
    background: #383838 !important;
    color: #eee
}

body.dark-mode .date-filter-input .DayPicker__nav--prev svg,
body.dark-mode .date-filter-input .DayPicker__nav--next svg { fill: red }

body.dark-mode .date-filter-input .simple-list .simple-list-body .simple-list-item { color: #eee }

body.dark-mode .date-filter-input .simple-list .scroll .highlight,
body.dark-mode .date-filter-input .simple-list .scroll .simple-list-item:hover { background: #444 }

body.dark-mode .DayPicker,
body.dark-mode .CalendarMonth,
body.dark-mode .CalendarMonthGrid { background: #2c2c2c }

body.dark-mode .DayPickerNavigation_button__default {
    background: #333;
    border: none
}

body.dark-mode .CalendarDay__default {
    background: #2e2e2e;
    border: none;
    color: #aaa
}

body.dark-mode .CalendarMonth_caption { color: #aaa }

body.dark-mode .DayPicker .CalendarDay__selected_span,
body.dark-mode .DayPicker .CalendarDay__hovered_span {
    background: #383838;
    border: none;
    color: #eee;
}

body.dark-mode .DayPicker .CalendarDay__selected,
body.dark-mode .DayPicker .CalendarDay__selected:hover,
body.dark-mode .DayPicker .CalendarDay__selected_span:hover,
body.dark-mode .DayPicker .CalendarDay__hovered_span:hover {
    background: #444;
    border: none;
    color: #eee;
}

body.dark-mode .range-inputs { background: #2c2c2c }

body.dark-mode .chart-editor-section .format-selector-wrapper .format-selector { background: #383838 }

body.dark-mode .chart-editor-section .format-selector-wrapper .dropdown-menu {
    background: #2c2c2c;
    border: 1px solid #555;
    box-shadow: 0 2px 5px 2px #000000;
    box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.5);
    color: #eee;
    padding: 0;
}

body.dark-mode .chart-editor-section .format-selector-wrapper .dropdown-menu .simple-option { padding: 4px 8px 0 8px }

body.dark-mode .chart-editor-section .format-selector-wrapper .dropdown-menu .option-wrapper.highlight {
    background: #444;
    color: #eee
}

body.dark-mode .chart-editor-section .react-selectize.default.dropdown-menu .option-wrapper.highlight,
body.dark-mode .chart-editor-section .react-selectize.default.dropdown-menu .option-wrapper.highlight .simple-option,
body.dark-mode .chart-editor-section .react-selectize.default.dropdown-menu .option-wrapper:hover,
body.dark-mode .chart-editor-section .react-selectize.default.dropdown-menu .option-wrapper:hover .simple-option {
    background: #444 !important;
    color: #eee !important
}

body.dark-mode .chart-editor-section .react-selectize.default.dropdown-menu .simple-option { color: #aaa !important }

body.dark-mode .mapd-chart-wrapper {
    background: #252525;
    box-shadow: 0 1px 4px #000000;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.8)
}

body.dark-mode .mapd-chart-wrapper .input-with-placeholder.isFocused {
    background: #383838;
    border: none
}

body.dark-mode .mapd-chart-wrapper .chart-container-header {
    background-color: #272727 !important;
    border-bottom: 1px solid #444;
    margin: 0;
    padding: 0 6px
}

body.dark-mode .mapd-chart-wrapper .chart-container-header .chart-left-controls { background-color: #252525 !important }

body.dark-mode .chart-edit-mode.layer-tabs-enabled { padding-top: 116px }

body.dark-mode .chart-edit-mode .chart-centered { border: 1px solid black !important }

body.dark-mode .layer-picker .layer-tabs-wrapper { border-bottom: 1px solid #444 }

body.dark-mode .layer-tab.active {
    background: #2e2e2e;
    border: 1px solid #444
}

body.dark-mode .chart-editor-top-panel {
    background-color: #252525 !important;
    border: none !important;
    box-shadow: 0 1px 3px #000000;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5)
}

body.dark-mode .chart-editor-top-panel .chart-type-wrapper::before { background: linear-gradient(90deg, #252525, rgba(37, 37, 37, 0)) }

body.dark-mode .chart-editor-top-panel .chart-type-wrapper::after { background: linear-gradient(270deg, #252525, rgba(37, 37, 37, 0)) }

body.dark-mode .chart-editor-left-panel .react-popover,
body.dark-mode .chart-editor-right-panel .react-popover { border: none !important }

body.dark-mode .autocomplete.open.popout-style .autocomplete-inner-wrapper,
body.dark-mode .autocomplete.open.popout-style .autocomplete-dropdown {
    background: #2c2c2c;
    border: 1px solid #555;
    box-shadow: 0 2px 5px 2px #000000;
    box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.5);
    color: #eee;
    padding: 0;
}

body.dark-mode .autocomplete.open.popout-style .autocomplete-dropdown { border-top: 1px solid #444 }

body.dark-mode .autocomplete .autocomplete-dropdown-item-content.section-break { border-bottom: 1px solid #444 }

body.dark-mode .autocomplete-dropdown-item.highlight {
    background: #444;
    color: #eee;
}

body.dark-mode .table-preview-module .table-preview-wrapper { background: #252525 }

body.dark-mode .table-preview-module .table-preview-wrapper .table-column-row { border: none }

body.dark-mode .dc-chart .md-table-scroll { color: #eee }

body.dark-mode .dc-chart .md-table-wrapper tr.selected {
    background-color: #444;
    color: #eee;
}

body.dark-mode .dc-chart .md-table-wrapper tr.deselected {
    background-color: #252525;
    color: #aaa;
}

body.dark-mode .dc-chart .md-table-wrapper .table-sort {
    background-color: #272727;
    border: none;
    color: #aaa;
}

body.dark-mode .dc-chart .md-table-wrapper td { border: none }

body.dark-mode .dc-chart .md-table-header {
    background-color: #272727;
    box-shadow: 0 2px 5px #000000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5)
}

body.dark-mode .custom-colors-widget .color-swatch.line .color-item { background: transparent !important }

body.dark-mode .mapd3 .vertical-grid-line,
body.dark-mode .mapd3 .horizontal-grid-line { stroke: #333 }

body.dark-mode .mapd3 .axis-group .domain { stroke: #666 }

body.dark-mode .mapd3 .axis-group .axis .tick line { stroke: #666 }

body.dark-mode .mapd3.bar .bar-group .mark.bar,
body.dark-mode .mapd3 .mark-group .bar-layer .mark.bar { stroke: #444 !important }

body.dark-mode .ql-toolbar.ql-snow { border: none }

body.dark-mode .ql-toolbar.ql-snow .ql-picker-label { color: #eee }

body.dark-mode .ql-toolbar.ql-snow .ql-stroke { stroke: #aaa }

body.dark-mode .ql-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-options {
    background: #2c2c2c;
    border: none;
    box-shadow: 0 2px 5px #000000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    color: #eee;
}

body.dark-mode .ql-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-label { border: none }

body.dark-mode .mapd-draw-button-control-group,
body.dark-mode .mapd-draw-button-control-group .mapd-draw-button,
body.dark-mode .chart-container .range-day {
    background-color: #2e2e2e !important;
    border: none
}

body.dark-mode .chart-right-controls,
body.dark-mode .chart-left-controls {
    background-color: #272727 !important;
    border-bottom: 1px solid #444
}

body.dark-mode .mapboxgl-ctrl-group { border: none }

body.dark-mode .mapboxgl-ctrl-group .mapboxgl-ctrl-icon {
    background-color: #2e2e2e;
    border-bottom: 1px solid #444;
    opacity: 1;
}

body.dark-mode .mapboxgl-ctrl-group .mapboxgl-ctrl-zoom-in .mapboxgl-ctrl-icon,
body.dark-mode .mapboxgl-ctrl-group .mapboxgl-ctrl-zoom-in.mapboxgl-ctrl-icon { background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20viewBox%3D%270%200%2020%2020%27%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%3E%0A%20%20%3Cpath%20style%3D%27fill%3A%23888888%3B%27%20d%3D%27M%2010%206%20C%209.446%206%209%206.4459904%209%207%20L%209%209%20L%207%209%20C%206.446%209%206%209.446%206%2010%20C%206%2010.554%206.446%2011%207%2011%20L%209%2011%20L%209%2013%20C%209%2013.55401%209.446%2014%2010%2014%20C%2010.554%2014%2011%2013.55401%2011%2013%20L%2011%2011%20L%2013%2011%20C%2013.554%2011%2014%2010.554%2014%2010%20C%2014%209.446%2013.554%209%2013%209%20L%2011%209%20L%2011%207%20C%2011%206.4459904%2010.554%206%2010%206%20z%27%20%2F%3E%0A%3C%2Fsvg%3E%0A") }

body.dark-mode .mapboxgl-ctrl-group .mapboxgl-ctrl-zoom-out .mapboxgl-ctrl-icon,
body.dark-mode .mapboxgl-ctrl-group .mapboxgl-ctrl-zoom-out.mapboxgl-ctrl-icon { background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20viewBox%3D%270%200%2020%2020%27%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%3E%0A%20%20%3Cpath%20style%3D%27fill%3A%23888888%3B%27%20d%3D%27m%207%2C9%20c%20-0.554%2C0%20-1%2C0.446%20-1%2C1%200%2C0.554%200.446%2C1%201%2C1%20l%206%2C0%20c%200.554%2C0%201%2C-0.446%201%2C-1%200%2C-0.554%20-0.446%2C-1%20-1%2C-1%20z%27%20%2F%3E%0A%3C%2Fsvg%3E%0A") }

body.dark-mode .mapboxgl-ctrl.mapboxgl-ctrl-scale {
    background: #2e2e2e;
    border-color: #888;
    border-width: thin;
    color: #888;
    opacity: 1;
}

body.dark-mode .geocoder-input {
    background-color: #383838 !important;
    border: none
}

body.dark-mode .heatmap-scroll .axes-mask:after { content: none }

body.dark-mode .dc-chart .heat-box { stroke: #444 }

body.dark-mode .chart-legend {
    background: #2e2e2e;
    border: 1px solid #555
}

body.dark-mode .chart-legend .title { border-bottom: 1px solid #444 }

body.dark-mode .legend-group,
body.dark-mode .dc-legend,
body.dark-mode .tooltip-group,
body.dark-mode .chart-popup-box,
body.dark-mode .map-popup > div:last-child > div,
body.dark-mode .nominal-legend,
body.dark-mode .chart-legend {
    background: #2e2e2e !important;
    border: 1px solid #555 !important
}

body.dark-mode .legend-group .title,
body.dark-mode .legend-group .dc-legend-header,
body.dark-mode .legend-group .header,
body.dark-mode .dc-legend .title,
body.dark-mode .dc-legend .dc-legend-header,
body.dark-mode .dc-legend .header,
body.dark-mode .tooltip-group .title,
body.dark-mode .tooltip-group .dc-legend-header,
body.dark-mode .tooltip-group .header,
body.dark-mode .chart-popup-box .title,
body.dark-mode .chart-popup-box .dc-legend-header,
body.dark-mode .chart-popup-box .header,
body.dark-mode .map-popup > div:last-child > div .title,
body.dark-mode .map-popup > div:last-child > div .dc-legend-header,
body.dark-mode .map-popup > div:last-child > div .header,
body.dark-mode .nominal-legend .title,
body.dark-mode .nominal-legend .dc-legend-header,
body.dark-mode .nominal-legend .header,
body.dark-mode .chart-legend .title,
body.dark-mode .chart-legend .dc-legend-header,
body.dark-mode .chart-legend .header { border-bottom: 1px solid #444 }

body.dark-mode .chart-popup { background: #2e2e2e }

body.dark-mode .chart-popup .popup-table * { background: #2e2e2e }

body.dark-mode .gradient-legend.with-header {
    background: #383838;
    border: 1px solid #555;
    color: #eee;
}

body.dark-mode .gradient-legend .block .text {
    background: none;
    color: #eee;
}

body.dark-mode .gradient-legend .block:hover .extent input {
    background: #383838;
    border: none
}

body.dark-mode .legend-cont .legend-item input {
    background: #383838;
    border: 1px solid #555;
    color: #eee;
}

body.dark-mode .legend-cont .legend-label {
    background: #252525;
    color: #eee;
}

body.dark-mode .legendables { border: none }

body.dark-mode .legendables.collapsed .open-toggle { background: url("data:image/svg+xml;utf8, <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48'><rect x='0' y='0' fill='%232E2E2E' stroke='%23555555' width='48' height='48'/><rect x='8' y='8' fill='%23EA5545' width='8' height='8'/><rect x='8' y='20' fill='%2387BC43' width='8' height='8'/><rect x='8' y='32' fill='%233EA3DB' width='8' height='8'/><rect x='20' y='10' fill='%23C7C7C7' width='20' height='4'/><rect x='20' y='22' fill='%23C7C7C7' width='20' height='4'/><rect x='20' y='34' fill='%23C7C7C7' width='20' height='4'/></svg>") }

body.dark-mode .selector-loading { background: #2e2e2e }

body.dark-mode .sql-input-symbol .sql-input-loading { background: #121212 }

body.dark-mode .table-preview-loading { background: #252525 }

body.dark-mode .table-ref-loading { background: #252525 }

body.dark-mode .axis-label-edit .input-wrapper input,
body.dark-mode .mapd3 [contenteditable]:hover,
body.dark-mode .mapd3 [contenteditable]:focus {
    background: #383838;
    border: 1px solid #555;
    color: #eee;
    outline: none;
    padding: 0 4px;
}

body.dark-mode .mapboxgl-ctrl-attrib {
    background: #ffffff;
    background: rgba(255, 255, 255, 0.1)
}

body.dark-mode .chart-container-header .chart-dropdown-button .chart-dropdown-popover {
    background: #2c2c2c;
    border: 1px solid #555;
    box-shadow: 0 2px 5px 2px #000000;
    box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.5);
}

body.dark-mode .chart-container-header .chart-dropdown-button .chart-dropdown-popover li { color: #aaa }

body.dark-mode .chart-container-header .chart-dropdown-button .chart-dropdown-popover li svg { fill: #aaa }

body.dark-mode .chart-container-header .chart-dropdown-button .chart-dropdown-popover li:hover {
    background: initial;
    color: #eee
}

body.dark-mode .chart-container-header .chart-dropdown-button .chart-dropdown-popover li:hover svg { fill: #eee }

body.dark-mode .operator-selector { border: none }

body.dark-mode .operator-selector .operator,
body.dark-mode .operator-selector .between-label { background: #2e2e2e }

body.dark-mode .operator-selector .operator-label { color: #eee }

body.dark-mode .operator-selector .min-input input,
body.dark-mode .operator-selector .max-input input {
    background: #383838;
    outline: none
}

body.dark-mode .operator-selector .operator-menu {
    background: #2c2c2c;
    border-color: #555
}

body.dark-mode .operator-selector .operator-item { color: #aaa }

body.dark-mode .operator-selector .operator-item:hover,
body.dark-mode .operator-selector .operator-item.selected {
    background: #444;
    color: #eee;
}

body.dark-mode .custom-colors-widget .custom-colors-header {
    border: none;
    border-bottom: 1px solid #444
}

body.dark-mode .custom-colors-widget .custom-color-list { border: none }

body.dark-mode .custom-colors-widget .custom-colors-header,
body.dark-mode .custom-colors-widget .custom-color-list,
body.dark-mode .custom-colors-widget .custom-colors-item,
body.dark-mode .custom-colors-widget .custom-colors-popup { background: #2e2e2e }

body.dark-mode .custom-colors-widget .custom-colors-popup { border: 1px solid #555 }

body.dark-mode .custom-colors-widget .custom-colors-popup .radio-button-axis-toggle { border: 1px solid #555 }

body.dark-mode .custom-colors-widget .custom-colors-popup .radio-button,
body.dark-mode .custom-colors-widget .custom-colors-popup .line-styles { border: 1px solid #555 }

body.dark-mode .custom-colors-widget .custom-colors-popup .radio-button:not(.checked),
body.dark-mode .custom-colors-widget .custom-colors-popup .line-styles:not(.checked) { background: #383838 }

body.dark-mode .custom-colors-widget .custom-colors-popup .line-styles .button:not(:last-child) { border-right: 1px solid #555 }

body.dark-mode .custom-colors-widget .custom-colors-item.other { color: #eee }

body.dark-mode .custom-colors-widget .custom-colors-item.disabled {
    background: #2e2e2e;
    color: #aaa;
}

body.dark-mode .custom-colors-widget .custom-colors-header:after { content: none }

body.dark-mode .custom-colors .button {
    background: #383838;
    border: 1px solid #555
}

body.dark-mode .chart-editor-topN-lock-toggle .chart-editor-topN-lock-toggle-inner {
    background-color: #2e2e2e;
    border-color: #555
}

body.dark-mode .sql-filters-panel-wrapper .main-input.msd .react-selectize.root-node.default:after,
body.dark-mode .sql-filters-panel-wrapper .custom-filter-input .custom-filter-input-selector:after,
body.dark-mode .sql-filters-panel-wrapper .filter-operators-dropdown .custom-selector-popup:after { background: #383838 }

body.dark-mode .sql-filters-panel-wrapper .editing .source-label {
    background: #333;
    border: none;
    color: #eee;
}

body.dark-mode .sql-filters-panel-wrapper .sql-filters-panel .btn-wrap,
body.dark-mode .sql-filters-panel-wrapper .main-input.data-source-selector,
body.dark-mode .sql-filters-panel-wrapper .filter-pill button.source-label { border: none }

body.dark-mode .sql-filters-panel-wrapper .btn-wrap { border: 1px solid #555 }

body.dark-mode .sql-filters-panel-wrapper .btn-wrap.incomplete .filter-pill { background: #2e2e2e }

body.dark-mode .sql-filters-panel-wrapper .source-label:after { content: none }

body.dark-mode .sql-filters-panel-wrapper input {
    background: #383838;
    border: none;
    color: #eee;
}

body.dark-mode .sql-filters-panel-wrapper .react-selectize.default { color: #eee }

body.dark-mode .sql-filters-panel-wrapper .react-selectize.default .react-selectize-control {
    background: #383838 !important;
    border: none
}

body.dark-mode .sql-filters-panel-wrapper .react-selectize.default.dropdown-menu {
    border: none;
    box-shadow: 0 2px 5px 2px #000000;
    box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.5)
}

body.dark-mode .sql-filters-panel-wrapper .react-selectize.default .option-wrapper .simple-option { color: #eee }

body.dark-mode .sql-filters-panel-wrapper .react-selectize.default .option-wrapper.highlight,
body.dark-mode .sql-filters-panel-wrapper .react-selectize.default .option-wrapper:hover { background: #444 }

body.dark-mode .sql-filters-panel-wrapper .react-selectize.default .option-wrapper.highlight .simple-option,
body.dark-mode .sql-filters-panel-wrapper .react-selectize.default .option-wrapper:hover .simple-option { color: #eee !important }

body.dark-mode .sql-filters-panel-wrapper .react-selectize.default .filter-value-dropdown .filter-value { border: none }

body.dark-mode .sql-filters-panel-wrapper .sql-filters-panel { border: none }

body.dark-mode .sql-filters-panel-wrapper .sql-filters-panel .filter-label,
body.dark-mode .sql-filters-panel-wrapper .sql-filters-panel .filter-value,
body.dark-mode .sql-filters-panel-wrapper .sql-filters-panel .operator { color: #eee }

body.dark-mode .sql-filters-panel-wrapper .autocomplete.open.popout-style input.autocomplete-input-elm,
body.dark-mode .sql-filters-panel-wrapper .react-selectize-search-field-and-selected-values,
body.dark-mode .sql-filters-panel-wrapper input.resizable-input { background: #383838 !important }

body.dark-mode .color-swatch,
body.dark-mode .react-selectize.root-node.simple-select,
body.dark-mode .dropdown-menu.format-selector,
body.dark-mode .segmented-control { border: none }

body.dark-mode .segmented-control .segmented-button { border: none }

body.dark-mode .segmented-control .segmented-button:not(.active) { background: #383838 }

body.dark-mode .color-picker-popup {
    background: #2e2e2e;
    border: none
}

body.dark-mode .color-picker-popup .color-header { border-bottom: 1px solid #444 }

body.dark-mode .custom-slider .input-wrap input { border: none }

body.dark-mode .time-bin-settings-popover .button-group {
    border: none !important;
    border-radius: 4px !important;
    margin: 0 8px
}

body.dark-mode .time-bin-settings-popover .button-group .button:not(.active) { background: #383838 }

body.dark-mode .custom-selector,
body.dark-mode .data-source-selector:not(.vega-data-source-selector) button.data-source-pill,
body.dark-mode .selector-pill { border: none !important }

body.dark-mode .custom-selector {
    background: #383838;
    border-radius: 2px
}

body.dark-mode .custom-selector .custom-selector-icon { fill: #aaa }

body.dark-mode .search-term-highlight {
    background: none;
    color: #eee
}

body.dark-mode .react-selectize.format-selector { color: #eee }

body.dark-mode .react-selectize.format-selector .react-selectize-placeholder { color: #aaa }

body.dark-mode .chart-editor-container .line-chart-deprecated {
    background-color: #f5a633;
    color: #1e1e1e
}

body.dark-mode .chart-editor-container .line-chart-deprecated .button.icon-btn.cancel { color: #444 }

body.dark-mode .chart-editor-container .line-chart-deprecated .button.icon-btn.cancel svg { fill: #444 }

body.dark-mode .dashboard-top-panel .mdc-button--outlined svg use { fill: #eee !important }

body.dark-mode .dashboard-top-panel .mdc-button--outlined:disabled svg use { fill: #555 !important }


body.dark-mode .table-importer-container .table-importer-s3-form-icon { background: white }

body.dark-mode .table-importer-container input {
    background: #383838;
    border: none
}

body.dark-mode .table-importer-container .table-importer-s3-form-autocomplete-input .autocomplete-input input { border: none }

body.dark-mode .sql-editor .sql-editor-data-viewer-window,
body.dark-mode .sql-editor .table-data { border: none }

body.dark-mode .table-ref-body,
body.dark-mode .table-picker-container .table-list-wrap { color: #aaa }

body.dark-mode .table-importer-container .import-body-container {
    background: #252525;
    box-shadow: 0 1px 4px #000000;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.8)
}

body.dark-mode .table-importer-container .import-settings-container {
    border-top: 1px solid #444;
    margin: 0;
    padding: 0 32px
}

body.dark-mode .table-importer-container .table-importer-name-input-box { background: #383838 }

body.dark-mode .table-importer-container .table-importer-option-text-input {
    background: #383838;
    border: none
}

body.dark-mode .simple-table td { border-bottom: 1px solid #444 }

body.dark-mode .table-importer-flow-chooser-box {
    background: #2e2e2e;
    border-radius: 2px;
    box-shadow: 0 1px 4px #000000;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.8)
}

body.dark-mode .table-importer-flow-chooser-box .table-importer-flow-chooser-box-text { color: #eee }

body.dark-mode .table-importer-flow-chooser-box .table-importer-flow-chooser-box-s3-icon {
    background: white;
    padding: 8px
}

body.dark-mode .table-importer-flow-chooser-box .table-importer-flow-chooser-box-footer {
    background: #2e2e2e;
    border: none
}

body.dark-mode .table-importer-flow-chooser-box .table-importer-flow-chooser-box-footer .import-hint-popup-label { color: #eee }

body.dark-mode .import-hint-popup-message,
body.dark-mode .table-importer-container .import-hint-popup .import-hint-popup-message {
    background: #333;
    box-shadow: 0 2px 5px 2px #000000;
    box-shadow: 0 2px 5px 2px rgba(0, 0, 0, 0.5)
}

body.dark-mode .import-hint-popup-message:after,
body.dark-mode .table-importer-container .import-hint-popup .import-hint-popup-message:after { opacity: 1 }

body.dark-mode .import-hint-popup-message:after { border-right-color: #333 }

body.dark-mode .table-importer-container .import-hint-popup .import-hint-popup-message:after { border-bottom-color: #333 }

body.dark-mode .show-in-light-mode { display: none }

body.dark-mode .show-in-dark-mode { display: initial }

body.dark-mode .mark-text.role-axis-label text,
body.dark-mode .mark-text.role-axis-title text { fill: #aaa !important }

body.dark-mode .mark-rule.tooltipRule line { stroke: white !important }