
@import "./react-resizable.css";
@import "./react-grid-layout.css";
@import "./mapbox-gl.css";


$noPadding: 0;
$noMargin: 0;
$maxWidth: 100%;
$maxHeight: 100%;


html,
body,
#root {
    padding: $noPadding;
    margin: $noMargin;
    width: $maxWidth;
    height: $maxHeight;
}

.root {
    padding: $noPadding;
    margin: $noMargin;
    width: $maxWidth;
    height: $maxHeight;
}

/*.react-grid-item-header {
    display: grid;
    grid-template-columns: 30px auto;
}*/

#aside {
    padding: $noPadding;
    margin: $noMargin;
    height: $maxHeight;
}

#main {
    padding: $noPadding;
    margin: $noMargin;
    width: $maxWidth;
    height: $maxHeight;
}

.dashboard {
    position: absolute;
}


.dashboard {
    z-index: 1;
    padding: 0px 0px 0px 0px;
    margin: $noMargin;
    width: $maxWidth;
    height: $maxHeight;
}


.resizable-handle {
    z-index: 2;
    position: absolute;
    width: 20px;
    height: 20px;
    bottom: 0;
    right: 0;
    background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMiIgaGVpZ2h0PSIxMiIgdmlld0JveD0iMCAwIDEyIDEyIj4KICA8cGF0aCBmaWxsPSIjNjY2IiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xMiwwIEwxMiwyLjUyNjMxNTc5IEwyLjUyNjMxNTc5LDEyIEwwLDEyIEwxMiwwIFogTTEyLDQgTDEyLDYuNDYxNTM4NDYgTDYuNDYxNTM4NDYsMTIgTDQsMTIgTDEyLDQgWiBNMTIsOCBMMTIsMTAuMjg1NzE0MyBMMTAuMjg1NzE0MywxMiBMOCwxMiBMMTIsOCBaIi8+Cjwvc3ZnPgo=") no-repeat bottom right !important;
    padding: 0 7px 7px 0;
    background-origin: content-box;
    box-sizing: border-box;
    cursor: se-resize;
}

.react-grid-item-header {
    display: flex;
    align-items: center;
    height: 40px;
    margin: $noMargin;
    border-bottom: 1px solid #e2e2e2;
    text-align: center;
    position: relative;
    cursor: move;
}

.react-grid-item-header-title-container {
    position: relative;
    font-size: 16px;
    text-align: center;
    width: $maxWidth;
    outline: none;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: inherit;
    min-width: 0;
    min-height: 40px;
}

.react-grid-item-header-title {
    width: $maxWidth;
    padding: 0px 0px;
    margin: $noMargin;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 16px;
}

.react-grid-item-header-commandBar-container {
    display: flex;
    height: 40px;
    opacity: 0;
    transition: opacity 0.25s;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 13;
    align-items: center;
}

.react-grid-item-header-commandBar-container:hover {
    opacity: 1;
}


.navMenu {
    z-index: 20;
    background: rgba(0, 0, 0, 0);
}



.react-grid-item {
    border-style: solid;
    border-width: 1px;
    border-color: black;
}

.mapboxContainer
.mapboxDiv {
    padding: $noPadding;
    margin: $noMargin;
    width: $maxWidth;
    height: $maxHeight;
}

.active {
    border-style: solid;
    border-width: 1px;
    border-color: red;
}

.inactive {
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
    border-color: rgba(0, 0, 0, 0);
}

/*.ms-Nav {
    background-color: #1a1a1a
}
*/

.ms-Nav-navItem {
    padding: $noPadding;
    margin: $noMargin;
    width: 30px;
    height: 35px;
    overflow: hidden;
}
